<!DOCTYPE html>
<html class="wide" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500%7CPoppins:300,400,500,600">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/tidy.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">{% if carousel %}<link rel="stylesheet" type="text/css" href="/slick/slick.css" /><link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />{% endif %}
    <title>Co | {{title | safe}}</title>
    <meta content="{{description}}" name="description" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <meta property="og:title" content="Co | {{title | safe}}" />
    <meta property="og:type" content="{{type}}" />
    <meta property="og:url" content="{{domain}}" />
    <meta property="og:image" content="{{ogimage}}" />
    <meta property="og:site_name" content="{{rootUrl}}" />
    <meta property="og:description" content="{{description}}" />
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <div class="bg-white">
        {% include "navigation.njk" %}
        {% block content %}{% endblock %}{{ content | safe }}
    </div>
    {% include "footer.njk" %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/nav.js"></script>
</script>{% if carousel %}<script type="text/javascript" src="/slick/slick.min.js"></script>{% include "slick.njk" %}{% endif %}

</html>