<section class="section section-md bg-dark-blue context-dark">
    <div class="container pt-4">
        <div class="row row-40 justify-content-lg-between">
        <p>Your footer here</p>
        </div>
    </div>
</section>
