  <div class="blog-list-item">
    {% if item.data.externalurl %}
    <h2><a href="{{ item.data.externalurl }}">{{ item.data.title | safe }}</a><img src="/images/icons/external-link-icon.svg" class="external-link" alt="Read this post on the site on which it was posted."></h2>
    {% else %}
    <p><a href="{{ item.url }}">{{ item.data.title }}</a></p>
    {% endif %}
  </div>
